NODE_ENV=development
PORT=3000
BACKEND_URL=http://localhost
FOLDER=
JWT_SECRET=replace_with_a_secure_secret
SECURE_DELAY=0

db_name=your_main_database
db_user=root
db_pass=
db_host=localhost
db_port=3306

DB_LOGS=your_logs_database
DB_USER=root
DB_PASS=
DB_HOST=localhost
DB_PORT=3306
